{extend name="common/public" /}
{block name="contain"}
<div class="col-xs-9 banner-body-right">
	<div class="msg-text">
		<div class="col-xs-2 msg-text-left">
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
		</div>
		<div class="col-xs-10 msg-text-right">
			<p>生活就像一盒巧克力，你永远不知道下一块会是什么味道。<br>
				Life was a box of chocolates,you never know what you're gonna get.</p>
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="msg-text-bottom">
		<div class="col-md-4 msg-text-bottom-left">
			<figure class="effect-winston">
				<a href="/index/article/detail"><img src="/assets/img/4.jpg" alt=" " class="img-responsive" />
					<figcaption>

					</figcaption>
				</a>
			</figure>

			<h3><a href="/index/article/detail">vel illum qui dolorem</a></h3>
			<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
				consectetur, adipisci velit, sed quia.</p>
		</div>
		<div class="col-md-4 msg-text-bottom-left">
			<figure class="effect-winston">
				<a href="/index/article/detail"><img src="/assets/img/5.jpg" alt=" " class="img-responsive" />
					<figcaption>

					</figcaption>
				</a>
			</figure>
			<h3><a href="/index/article/detail">quia dolor sit amet</a></h3>
			<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
				consectetur, adipisci velit, sed quia.</p>
		</div>
		<div class="col-md-4 msg-text-bottom-left">
			<figure class="effect-winston">
				<a href="/index/article/detail"><img src="/assets/img/6.jpg" alt=" " class="img-responsive" />
					<figcaption>

					</figcaption>
				</a>
			</figure>
			<h3><a href="/index/article/detail">porro quisquam est</a></h3>
			<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
				consectetur, adipisci velit, sed quia.</p>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
{/block}